/* aqui estan las cajas de index.html*/

.inicio1{
    margin: auto;
    border-width: 4px 0;
    text-align: center;
    width:unset;
}

.logo1{
    
    height: 45px;
    width: unset;
}

.indice-principal{
    position: absolute;
    top: 9em;
    width: unset;
    left:0em;
    right: unset;
}

.parrafo1-index, letras1{
    position: absolute;
    top: 12em;
    width: 50%;
    left:20em;
    font:100
    
}