/*aqui estan los formatos de cajas.html y de mas*/
.cuadro2{
    padding: 1px;
    border-style: solid;
    color: black;
    width: 600px;
    height: 200px;
}
.caja-bloque{
background-color: aqua;
width: 400px;
padding: 16px;
margin: 50px;

}
.caja-linea{
background-color: aqua;
width: 400px;
padding: 16px;
margin: 50px;
}

box-sizing-caja{
    background-color: aliceblue;
    box-sizing: border-box;
    width: 40px;

}

/*ejemplos*/
.articulo1{
    background-color: rgb(199, 120, 120);
}
.elemento1{
    float: left;
}
.elemento3{
    float: right;
}
.margin1{
    background-color: aquamarine;
}
.margin1 section{
    border:thin solid black;
    margin-top: 16px;
    margin-bottom: 16px;
}
.span0 span{
    display: inline-block;
     margin-right: 20px;
    border-style: solid;
    border-color: aliceblue;
    background-color: aqua;
    
}
.sitio-web{
    border-style: solid;
    border-color: black;
    width: 900px;
    height: 1000px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
}
.cabeza{
    text-align: center;
    
}
