.articulo1{
    width: 700px;
    height: 1000px;
    padding: auto;
    margin-left: auto;
    margin-right: auto;
    border-left: solid;
    border-color: black;
}
.indice1{
    border-top: solid;
    border-right: solid;
    border-color: black;
    border-width: 1px;
    border-left: ;
    margin-right: 820px;

}