/*aqui estan los estilos de "Programacion en css*/

body{
    font-family:sans-serif;
    background-color: rgb(231, 232, 222);
    margin: 8px;
    font-size: 15px;
    cursor:pointer;
}

.logo-de-inicio{
    position: sticky;
    background-color: rgb(231, 232, 222);
    top: -1.15px;
    z-index: 1000;
    text-align: center;
    
    
}

.logo1{
    width: 10em;
    border-bottom: thin solid black;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 10px;
    background-color: rgb(231, 232, 222);
}

.botones1{
    margin: 10px;
    margin-left: 0.8em;
    padding: 0.2em;
    font-size: 0.9em;
    cursor: pointer;
    background-color: rgb(231, 232, 222);
    border-left:   rgb(231, 232, 222);
    border-top:   rgb(231, 232, 222);
    border-right:   rgb(231, 232, 222);
    border-bottom:   rgb(231, 232, 222);
}

.indice{
    position: fixed;
    top: 200px;
    left: 35px;
    padding-right: 20px;
    border-right: thin solid;
    
}

.indice-articulos{
    position:fixed;
    top: 200px;
    left: 1700px;
    width: 200px;
    border-left: thin solid;
    
}

.cuerpo{
    position:relative;
    top: 150px;
    left: 450px;
    width: 1100px;
    height: auto;
    
}

.titulo{
    font-size: 30px;
}

.subtitulo{
    font-size:24px;
}
.parrafos{
    text-align: justify;
    line-height: 25px;
}

.iconos{
    position: relative;
    width: 20px;
    height: auto;
    top: 10px;
    left: 2px;
    padding: 10px;
    
}

.figura1{
    color: red;
}
.bordo-figure{
    border-style: solid;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    background-color: rgb(156, 156, 152);;
}
