/*aqui estan los estilos generales del cuerpo de todas las paginas*/


h2{
    font-family: serif;
    color: rgb(7, 9, 10);
    text-align: center;
    border-style: solid;
    border-width: 2px 0;
}
