/*aqui estan los estilos de "Programacion en css*/

body{
    font-family:sans-serif;
    font-size: 12px;
    cursor:pointer;
    color: rgb(0, 0, 0);
    width: max-content;
}
.titulo1{
    position: absolute;
    top: 2%;
    left: 50%;
}
.botones2{
    margin: 5%;
    cursor: pointer;
    width:min-content;
    background-color: rgb(255, 255, 255);
    border-left:   rgb(255, 255, 255);
    border-top:   rgb(255, 255, 255);
    border-right:   rgb(255, 255, 255);
    border-bottom:   rgb(255, 255, 255);
    color: rgb(5, 67, 121);
}
.botones1{
    margin: 1%;
    margin-right: 2px;
    font-size: auto;
    width:min-content ;
    cursor: pointer;
    background-color: rgb(255, 252, 252);
    border-left:   rgb(252, 252, 252);
    border-top:   rgb(255, 255, 255);
    border-right:   rgb(255, 255, 255);
    border-bottom:   rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

.barra-navegacion{
    position: absolute;
    top: 20%;
    overflow-y:scroll;
    height:100%;
    width:auto;
    text-align: justify;
    padding-left: -1.0em;
    
}

.indice-articulos{
    position:fixed;
    top: 200px;
    left: 1600px;
    width: 300px;
    border-left: thin solid;
    
}

.cuerpo{
    position:absolute;
    top: 50%;
    left:25%;
    width: 55%;
    height: auto;
    
}

.titulo{
    font-size: 30px;
    color: rgb(0, 0, 0);
}

.subtitulo{
    font-size:24px;
    color: rgb(0, 0, 0);
}
.parrafos{
    text-align: justify;
    line-height: 25px;
    color:rgb(0, 0, 0);
}

.iconos{
    position: relative;
    width: 20px;
    height: auto;
    top: 10px;
    left: 2px;
    padding: 10px;
    
}

.figura1{
    color: rgb(0, 0, 0);
}
.bordo-figure{
    border-style: solid;
    padding-right: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
    border-color: black;
    background-color: rgb(17, 57, 109);
    border-radius: 40px;
}


