body{
    font-family:sans-serif;
    background-color: rgb(231, 232, 222);
    margin: 8px;
    cursor:pointer;
}

.encabezado {
    background-color: aquamarine;
    position: fixed;
    top: 0px;
    left: 512px;

    margin-left: 10px;
    margin-right: 50%;
    
    border-bottom: black;
    font-family: sans-serif;
    color: rgb(7, 9, 10);
    text-align: center;
    border-style: solid;
    
}

.indice1{
    position: relative;
    top: 50px;
    width: 70px;
    height: 200px;
    border-right: solid;
    border-color: black;
    border-width: 0.5px;
    padding-right: 30px;

}

.aprobado{
    width: 10px;
}

.cuerpo{
    background-color: blueviolet;
    position:relative;
    margin-left: 150px;
    bottom: 17em;
    width: 600px;

}
.texto{
    text-align: unset;
}