body{
    position: fixed;
    background-color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: sans-serif;
    color: black;
    width: 100%;
}
.logo1{
    position: absolute;
    top: 10rem;
    margin-left: 28%;
    min-width: 50%;
}
.titulo{
    position: absolute;
    top: 1%;
    left: 2%;

}
.noticias{
    position: fixed;
    top: 15rem;
    margin-left: 100rem;
}
.botones{
    position: fixed;
    top: 15rem;
    left: auto;
    width: auto;   
}
.botones1{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-color: rgb(255, 255, 255);
    border-bottom-right-radius: 12px;
    width: 200px;
    margin-top: 10px;
}

/*
.botones1{
    font-size: 12px;
    text-align: justify;
    cursor: pointer;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    border-left:   rgb(255, 255, 255);
    border-top:   rgb(255, 252, 252);
    border-right:   rgb(255, 255, 255);
    border-bottom:   rgb(255, 255, 255);
}
/*
.boton1{
    position: absolute;
    top: 25rem;
    left: 47%;
    width: auto;
}
.boton2{
    position: absolute;
    top: 25rem;
    left: 17%;
    width: auto;
}
.boton3{
    position: absolute;
    top: 25rem;
    left: 77%;
    width: auto;
}
*/

