body{
    position: fixed;
    background-color: aliceblue;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
    width: 100%;
}

.titulo{
    position: absolute;
    top: 1%;
    left: 50%;

}

.boton{
    
    
}

.boton1{
    position: absolute;
    top: 25rem;
    left: 47%;
    width: auto;
}
.boton2{
    position: absolute;
    top: 25rem;
    left: 17%;
    width: auto;
}
.boton3{
    position: absolute;
    top: 25rem;
    left: 77%;
    width: auto;
}