/* aqui esta index.html*/
body{
    font-family:sans-serif;
    background-color: rgb(255, 255, 255);
    color: rgb(5, 5, 5);
    max-width: 100%;
    min-width: auto;
    margin: 5%;
}

.botones1{

    font-size: 12px;
    text-align: justify;
    cursor: pointer;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-left:   rgb(255, 255, 255);
    border-top:   rgb(255, 255, 255);
    border-right:   rgb(255, 255, 255);
    border-bottom:   rgb(255, 255, 255);
}


.titulo{
    position: absolute;
    top: 1%;
    left: 38%;
    padding-left: 2%;
    padding-right: 2%;
    width:min-content;
    border-bottom: thin solid;
}
.indice-de-facultades{
    position: absolute;
    top: 20%;
    left: 5%;
    width:min-content;
}
.parrafo{
    position: absolute;
    top: 40%;
    left: 25%;
    max-width: 50%;
    min-width: 20%;
}

.noticias{
    position: absolute;
    top: 20%;
    left: 89%;
    width: min-content;
}