body{
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 255);

}

.fondo1{
    position: fixed;
    left: -10px;
    z-index: -999;

}
.bienvenida1{
    position: absolute;
    top: 5rem;
    left: auto;
    margin-left: 5%;
    font-size: 30px;
}
.logo1{
    position: absolute;
    top: 1rem;
    margin-left: 45%;
    width: 10rem;
}
.indice{
    position: relative;
    top: 15rem;
    margin-left: 5%;
}
.botones{
    margin: 9px;
}


.noticias{
    position: absolute;
    top: 15rem;
    margin-left: 80%;
}
.contactame{
    position: relative;
    top: 30rem;
    margin-left: 5%;
}