/*aqui estan los estilos de "Programacion en css*/

body{
    font-family:sans-serif;
    background-color: rgb(2, 2, 2);
    margin: 8px;
    font-size: 15px;
    cursor:pointer;
    padding: auto;
    image-rendering: auto;
    color: aliceblue;
}

.logo-de-inicio{
    position: sticky;
    background-color: rgb(100, 106, 128);
    top: -1.15px;
    z-index: 1000;
    text-align: center;
    
    
}

.logo1{
    width: 10em;
    border-bottom: thin solid rgb(100, 106, 128);
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 10px;
    background-color: rgb(100, 106, 128);
}

.botones1{
    margin: 10px;
    margin-left: 0.8em;
    padding: 0.2em;
    font-size: 0.9em;
    cursor: pointer;
    background-color: rgb(0, 0, 0);
    border-left:   rgb(0, 0, 0);
    border-top:   rgb(0, 0, 0);
    border-right:   rgb(0, 0, 0);
    border-bottom:   rgb(0, 0, 0);
    color: aliceblue;
}

.indice{
    position: fixed;
    top: 200px;
    left: 35px;
    padding-right: 20px;
    border-right: thin solid;
    
}

.indice-articulos{
    position:fixed;
    top: 200px;
    left: 1600px;
    width: 300px;
    border-left: thin solid;
    
}

.cuerpo{
    position:relative;
    top: 150px;
    left: 450px;
    width: 1100px;
    height: auto;
    
}

.titulo{
    font-size: 30px;
    color: aliceblue;
}

.subtitulo{
    font-size:24px;
    color: aliceblue;
}
.parrafos{
    text-align: justify;
    line-height: 25px;
    color:aliceblue;
}

.iconos{
    position: relative;
    width: 20px;
    height: auto;
    top: 10px;
    left: 2px;
    padding: 10px;
    
}

.figura1{
    color: rgb(255, 255, 255);
}
.bordo-figure{
    border-style: solid;
    padding-right: 50px;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 30px;
    border-color: black;
    background-color: rgb(17, 57, 109);
    border-radius: 40px;
}


