/*reglas css, costa de 2 partes 
    1.  el selector 


    2. bloque de declaraciones 
            atributo:valor;
            atributo-de-mas-dos-palabras:atro-valor;
            ejemplo
            h2{
                color: rgb(3, 0, 0);
                background-color: rgba(90, 4, 250, 0.301);
            }
    
    -las @import url(""); no son buenas ya que son malas practicas
    
    */
            h2{
                text-align :center;
                color: rgb(3, 0, 0);
                background-color: rgba(90, 4, 250, 0.301);
            }

    /* 
    selectores basicos
    1)etiquetas: son-elementos html
    2)identificadores: son atributos id-#
    3)clases: son atributos class
    */

/*ejemplos de id#*/

h1{
    text-align: center;
    color: rgb(18, 37, 90);
   box-sizing: content-box;
   width: 100%;
   box-sizing: content-box;
   width: 100%;
   border: solid #667aec 10px;
   padding: 5px;
   box-sizing: border-box;
   width: 100%;
   border: solid #7a94e9 10px;
   padding: 5px;
   
}
img.imagen1{
    background-position: 0% 0%;
}
p{
    color:rgb(46, 46, 99)
}
#juan{
    color:rgb(0, 247, 74)
    
}
/* dar estilos con "class" nos permite reutilizar nuestras codigos en CSS
ejemplos de class*/
.text-aqua{
    color: aqua;
}
.bg-valentina{
    background-color: #667aec;
    color: rgb(12, 4, 1);
    font:40px;
}
.bg-skyblue{
    background-color: aquamarine;
}
.bg-steelblue{
    background-color: aqua;
}
.text-20{
    font-size: 20px;
}
.text-32{
    font-size: 32px;
}
.text-45{
    font-size: 45px;
}
.text-white{
    color:blueviolet
}
.text-red{
    color: rgb(236, 0, 0);
}

/* hojos directos*/
.hijos-directos>li{
    background-color: #7a94e9;
}
/*hijos descendiente*/
.hijos-descendientes b{
    background-color: rgb(8, 250, 250);
}
/*hermanos-general*/
.hermanos-general~li{
    background-color:#667aec
}
/*hermanos-adyacentes*/
.hermanos-adyacentes+li{
    background-color: aquamarine;
}
/*selectores-atributos*/
.selectores-atributos a[href]{
    color:chocolate
}
.selectores-atributos a[target=_blank]{
    color:aqua
}
/*otro ejemplo el comodin * aplica el estilo si contiene el texto en cuestion en cialquier parte*/
.selectores-atributos a[href*=jonmircha]{
    background-color:antiquewhite
}
/*otro ejemplo(si aplicomos ^ esto nos aplica el estilo si contiene el texto especifico al inicio*/
.selectores-atributos a[href^="ttps://"]
{
    background-color:aquamarine
}
/*otro ejemplo(si aplicomos $ esto nos aplica el estilo si contiene el texto especifico al final*/
.selectores-atributos a[href$=".com"]{
    font:italic;
}
/*otro ejemplo(si aplicomos ~  esto nos aplica el estilo
 si contiene el texto especifico en una lista separada por espacios*/
.selectores-atributos a[class~="notas"]{
    background-color: darkorchid;
}
/*otro ejemplo(si aplicomos |  esto nos aplica el estilo
 si contiene el texto especifico en una lista separada por
  espacios y que despues del texto en cuestieon puede venir un - */
 .menu item-ahora-button a[class|="menu"]{
    font: optional;
}
/*selector universal*/
{
    font-family:sans-serif;

}
.selector-universal *{
    font-size: 36px;
}

/*form-pseudoclases (dan estilos dependiendo del contexto; o estado del elemnto)*/
.form-pseudoclases *:required{
    border-color: aquamarine;
}
.form-pseudoclases *:valid{
    border-color: brown;
}
.form-pseudoclases *:focus{
    background-color: black;
}
.form-pseudoclases *:disabled{
    background-color: rgb(215, 11, 11);
}

.menu-pseudoclases a:visited{
    color: olive;
}
.menu-pseudoclases a:hover{
    color:rgb(14, 209, 34)
}
.p-plseudoclase:hover{
    font-size:45px;
}
#indice5:target{
    background-color: #f1f503;
}
.lista-pseudoclases li:first-child{
    color:green
}
.lista-pseudoclases li:last-child{
    color:rgb(77, 55, 128)
}
.lista-pseudoclases li:nth-child(3){
    color:rgb(218, 120, 120)
}
.lista-pseudoclases li:nth-child(3n){
    color:rgb(69, 4, 219)
}
.lista-pseudoclases li:nth-child(4n+1){
    background-color: bisque;
}

/*seudo-elementos*/
.saga-geminis::before{
    content: "💖";
}
.saga-geminis::after{
    content: "🎶";
}
.saga-precio::before{
    content: "€";
}
.saga-precio::after{
    content: "€";
}
/*p-pseudoelemntos*/
.p-pseudoelemntos::first-letter{
    font: bold;
    color:#f1f503
}
.p-pseudoelemntos::first-line{
    font: bold;
    background-color:#13f503;
}
/*muy importante*/
.p-pseudoelemntos::selection{
   background-color:bisque;
    color:#13f503;
}
.input-seudoelementos::placeholder{
    color:green
}
.form-agrupar-selectores input[type="text"],
.form-agrupar-selectores input[type="password"],
.form-agrupar-selectores textarea{
    color:#000000;
    background-color: #8b99ef;
    border-width: 4px ;
    font: caption;
    display: block;
    width: 400px;
}
/*el algoritmo es la forma en que el navegador aplica los estilos 
al documento HTML es vital entender este concepto para que entiendas 
como se aplica y en algunas ocasiones se sobreescriben los reglas CSS */
   /* 1. la cascada
    2. la especificidad
    3. la herencia*/

    /* la cascada*/
.cita-marco {
    background-color:green;}
.cita-marco{
    background-color: #667aec;
}

